# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [64]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalia_lista= [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anomalia_serie= pd.Series(anomalia_lista)
print(anomalia_serie)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [65]:
# seu código aqui
tabela= pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                  index=range(1900, 2040, 20))
tabela

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [66]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperaturas= pd.Series(dic_temperaturas)
serie_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [67]:
arr = np.random.normal(100, 10, (20,3))
arr

# seu código aqui
df=pd.DataFrame(arr)
df

             0           1           2
0   107.109434   86.581411  104.698592
1    92.579577   99.119057   99.056947
2   104.301940   83.319005   99.625238
3    74.683376  103.854936   88.502580
4    92.347812   88.962850  103.970227
5    97.289615   95.764598   91.009041
6    88.393556  101.403672  109.620720
7    88.182112  121.665497  102.979301
8    92.088590   92.675224   95.686038
9   103.950877  103.447290   94.592241
10   94.468711   90.430230  106.411403
11   82.620588  110.722630  111.426034
12  114.103405   97.224948   98.700365
13   86.607619   97.406379   97.910895
14   92.934620   98.403245   87.862832
15   93.560414   94.461674  103.278284
16  100.590593   94.283196   98.639216
17  109.097861   88.736689  109.847568
18   98.028113  120.049255   81.836417
19  108.074567   88.502669   98.139166

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [69]:
#seu código aqui
df.columns=['x1', 'x2', 'x3']
df.index=(range(1,21, 1))
df

            x1          x2          x3
1   107.109434   86.581411  104.698592
2    92.579577   99.119057   99.056947
3   104.301940   83.319005   99.625238
4    74.683376  103.854936   88.502580
5    92.347812   88.962850  103.970227
6    97.289615   95.764598   91.009041
7    88.393556  101.403672  109.620720
8    88.182112  121.665497  102.979301
9    92.088590   92.675224   95.686038
10  103.950877  103.447290   94.592241
11   94.468711   90.430230  106.411403
12   82.620588  110.722630  111.426034
13  114.103405   97.224948   98.700365
14   86.607619   97.406379   97.910895
15   92.934620   98.403245   87.862832
16   93.560414   94.461674  103.278284
17  100.590593   94.283196   98.639216
18  109.097861   88.736689  109.847568
19   98.028113  120.049255   81.836417
20  108.074567   88.502669   98.139166

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [70]:
# seu código aqui
df['media']=(df['x1']+df['x2']+df['x3'])/(len(df.columns)-1)
df

            x1          x2          x3       media
1   107.109434   86.581411  104.698592  149.194718
2    92.579577   99.119057   99.056947  145.377791
3   104.301940   83.319005   99.625238  143.623091
4    74.683376  103.854936   88.502580  133.520446
5    92.347812   88.962850  103.970227  142.640444
6    97.289615   95.764598   91.009041  142.031627
7    88.393556  101.403672  109.620720  149.708974
8    88.182112  121.665497  102.979301  156.413455
9    92.088590   92.675224   95.686038  140.224926
10  103.950877  103.447290   94.592241  150.995204
11   94.468711   90.430230  106.411403  145.655172
12   82.620588  110.722630  111.426034  152.384626
13  114.103405   97.224948   98.700365  155.014359
14   86.607619   97.406379   97.910895  140.962447
15   92.934620   98.403245   87.862832  139.600349
16   93.560414   94.461674  103.278284  145.650186
17  100.590593   94.283196   98.639216  146.756502
18  109.097861   88.736689  109.847568  153.841059
19   98.028113  120.049255   81.836417  149.956892
20  108.074567   88.502669   98.139166  147.358201

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [71]:
# seu código aqui
df['log_med']=np.log(df['media'])
df

            x1          x2          x3       media   log_med
1   107.109434   86.581411  104.698592  149.194718  5.005252
2    92.579577   99.119057   99.056947  145.377791  4.979336
3   104.301940   83.319005   99.625238  143.623091  4.967192
4    74.683376  103.854936   88.502580  133.520446  4.894255
5    92.347812   88.962850  103.970227  142.640444  4.960327
6    97.289615   95.764598   91.009041  142.031627  4.956050
7    88.393556  101.403672  109.620720  149.708974  5.008693
8    88.182112  121.665497  102.979301  156.413455  5.052503
9    92.088590   92.675224   95.686038  140.224926  4.943248
10  103.950877  103.447290   94.592241  150.995204  5.017248
11   94.468711   90.430230  106.411403  145.655172  4.981242
12   82.620588  110.722630  111.426034  152.384626  5.026408
13  114.103405   97.224948   98.700365  155.014359  5.043518
14   86.607619   97.406379   97.910895  140.962447  4.948494
15   92.934620   98.403245   87.862832  139.600349  4.938784
16   93.560414   94.461674  103.278284  145.650186  4.981208
17  100.590593   94.283196   98.639216  146.756502  4.988775
18  109.097861   88.736689  109.847568  153.841059  5.035920
19   98.028113  120.049255   81.836417  149.956892  5.010348
20  108.074567   88.502669   98.139166  147.358201  4.992866